package templates

templ ConnectionStatusConnected() {
	<div id="connection_status" hx-swap-oob="true">
		<p class="text-green-500">Connected with stranger 🤝</p>
	</div>
}

templ ConnectionStatusDisconnected() {
	<div id="connection_status" hx-swap-oob="true">
		<p class="text-red-500">Stranger disconnected 🏃</p>
	</div>
}

templ ConnectionStatusNoClientsFound() {
	<div id="connection_status" hx-swap-oob="true">
		<p class="text-red-500">Can't find a stranger 😢</p>
	</div>
}

templ StrangerTyping() {
	<div
		id="chat_typing"
		hx-swap-oob="true"
		hx-on:htmx:load="clearTimeout(window.typingTimer); window.typingTimer = window.setTimeout(function() { htmx.find('#chat_typing').innerHTML = ''}, 3500)"
		class="flex items-center gap-1 py-1"
	>
		<p class="text-red-500">
			Stranger:
		</p>
		<img src="/assets/typing.gif" height="40"/>
	</div>
}
