package templates

templ VideoChat() {
	<script>
	</script>
	<div class="flex flex-col gap-2">
		<div>
			<video id="remote_video" class="h-80 w-80 border-2 rounded-md border-chatopia-3" autoplay muted></video>
		</div>
		<div>
			<video id="local_video" class="h-80 w-80 border-2 rounded-md border-chatopia-3" autoplay muted></video>
		</div>
	</div>
}
